<!DOCTYPE html>
<html lang="en">
<head>
   {% include "layouts/head.njk" %}
</head>

<body>
{% include "layouts/header.njk" %}

    <main>
        <h1>{{title}}</h1>
    </main>

{% include "layouts/footer.njk" %}
</body>
<script src='js/script.js'></script>
</html>

