<!DOCTYPE html>
<html lang="en">
<head>
   {% include "layouts/head.njk" %}
</head>

<body>
{% include "layouts/header.njk" %}


{% include "layouts/footer.njk" %}
</body>
<script src='js/script.js'></script>
</html>

